<h1>Bloggers</h1>

<ul>
  <% @bloggers.each do |blogger| %>
    <li>
      <%= link_to blogger.name, blogger_path(blogger) %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to 'Create Blogger', new_blogger_path %>